.Nav-bar {
  background-color: rgba(74, 74, 74, 0.1);
  color: red;
  height: 60px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Nav-bar ul {
  list-style-type: none;
  padding-left: 0;
}
